set_frequency	clk_100	100
set_frequency	clk_125	125
set_frequency	clk_250	250
set_io	clk_100			J3
set_io	indicate_data[0]	B1
set_io	indicate_data[1]	C2
set_io	indicate_data[2]	D2
set_io	indicate_data[3]	G5
set_io	request_data[0]		E4
set_io	request_data[1]		B2
set_io	request_data[2]		G3
set_io	request_data[3]		F3
set_io	signal_detect[0]	G1
set_io	signal_detect[1]	J5
set_io	signal_detect[2]	H2
set_io	signal_detect[3]	J4
set_io	collision		M12
set_io	transmitting		R16
set_io	link_act[0]		H1
set_io	link_act[1]		C1
set_io	link_act[2]		E3
set_io	link_act[3]		F2
set_io	speed[0]		F5
set_io	speed[1]		F1
set_io	speed[2]		H5
set_io	speed[3]		E2
set_io	polarity[0]		G2
set_io	polarity[1]		D1
set_io	polarity[2]		H4
set_io	polarity[3]		G4
set_io	loopback[0]		J2
set_io	loopback[1]		F4
set_io	loopback[2]		H6
set_io	loopback[3]		H3
